/* CSS for ChiliPeppr Widget */

#com-chilipeppr-widget-cml {
    /*font-family: Droid Sans;*/
    height:100%;
    position:relative;
}
.overlay-placement {
    display:none;
    position:absolute;
    width:100%;
    height:100%;
    background-image: url('screen.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity:0.5;
}
.darkbg {
    background-color: #000;
}
.panel-heading {
    padding:0;
    background-color: none;
    /*background-color: #a40000;*/
    /*height:100px;*/
}
.arrow {
    margin-left:12px;
    margin-right:0px;
    width:20px;
}
.phone {
    color:white;
    font-size:20px;
}
.phone.phone-number {
    line-height: 20px;
}
.phone.phone-desc {
    font-size:12px;
}
.phone-img {
    margin-left:16px;
    margin-right:24px;
    height:20px;
}
.dots {
    height:20px;
    margin-right: 20px;
}

.top-phone-generic {
    background-color: #a40000;
}
.top-phone-jimmyjohn {
    background-color: #ccc;
}

.panel-body {
    background-color: #f0f0f0;
    /*height:300px;*/
    height:50%;
    overflow-y: auto;
    padding:8px;
}
.bubble-content {
    padding-left:16px;
    padding-right:16px;
    font-size:16px;
    background-color:white;
    padding-top:8px;
    padding-bottom:8px;
}
.bubble-in {
    margin-top:10px;
}
.bubble-in-triangle {
    float:left;
    background-image: url('bubble-red-tall.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width:8px;
    height:30px;
    /*background-color: green;*/
}
.bubble-in-content {
    border-left:4px solid #fc3030;
    margin-right:60px;
    margin-left:8px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.bubble-out {
    margin-top:10px;
}
.bubble-out-triangle {
    float:right;
    background-image: url('bubble-blue-tall.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width:8px;
    height:30px;
    /*background-color: green;*/
}
.bubble-out-content {
    border-right:4px solid #30c6fc;
    margin-right:8px;
    margin-left:60px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.panel-footer {
    /*position:relative;*/
    border:0;
    padding:0;
    border-radius: 0;
    background-color: #fff;
}
.col-compose {
    width:100%;
    padding-left:10px;
}
.compose-box {
    width:100%;
    border:none;
    outline:none;
    height:60px;
    /*float:left;*/
    /*margin-left:16px;*/
    font-size:16px;
    /*margin-right:10px;*/
}
.graycircle {
    /*float:left;*/
    background-color: #aaa;
    border-radius:40px;
    height:40px;
    width:40px;
}
.plussign {
    margin-left:8px;
    font-size:40px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    color:#4c4c4c;
}
.smiley {
    margin-left:16px;
}
.microphone {
    margin-left:10px;
    margin-right:16px;
    text-align: center;
    line-height: 38px;
}

.jimmyjohn-sidebanner {
    background-image: url("jimmyjohn-face.png");
    background-repeat: no-repeat;
    background-size: cover;
    width:80px;
    height:160px;
    /*height: 100%;*/
    float:left;
}