/* CSS for ChiliPeppr Widget */

#com-chilipeppr-widget-cml {
    /*font-family: Droid Sans;*/
    height:100%;
    position:relative;
}
.android-pulldown {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:20;
    background-color: rgba(0,0,0,0.7);
}
.notify-mainmenu {
    animation: slidedown 1s;
    z-index:30;
    position:absolute;
    top:0;
}
.notify-jimmyjohn {
    margin:3px;
    border-radius:4px;
    background-color:white;
    font-size:18px;
    padding:0;
    animation: slidedown 2s;
    /*z-index:-1;*/
    /*transform: translate(0px,-100px);*/
}
.notify-wrapper {
    padding:10px;
}
.notify-table {
   
}
.overlay-placement {
    display:none;
    position:absolute;
    width:100%;
    height:100%;
    background-image: url('screen.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity:0.5;
}
.darkbg {
    background-color: #000;
}
.dlg-full {
    position:absolute;
    top:30px;
    bottom:10px;
    left:10px;
    right:10px;
    z-index:10;
}
.panel-heading {
    padding:0;
    background-color: none;
    /*background-color: #a40000;*/
    /*height:100px;*/
    border:0px;
    width:100%;
}
.arrow {
    margin-left:12px;
    margin-right:0px;
    width:20px;
}
.phone {
    color:white;
    font-size:20px;
}
.phone.phone-number {
    line-height: 20px;
}
.phone.phone-desc {
    font-size:12px;
}
.phone-img {
    margin-left:16px;
    margin-right:24px;
    height:20px;
}
.dots {
    height:20px;
    margin-right: 20px;
}

.top-phone-generic {
    background-color: #a40000;
}
.top-phone-jimmyjohn {
    background-color: #bbb;
}

.panel-body {
    background-color: #f0f0f0;
    height:650px;
    /*height:50%;*/
    overflow-y: auto;
    overflow-x: hidden;
    padding:8px;
    width:100%;
}
#com-chilipeppr-widget-cml .btn {
    outline:none;
}
.bubble-content {
    padding-left:16px;
    padding-right:16px;
    font-size:14px;
    background-color:white;
    padding-top:8px;
    padding-bottom:8px;
}
.bubble-in {
    margin-top:10px;
    animation: slideinfromleft 1s;
}
.bubble-in-triangle {
    float:left;
    background-image: url('bubble-red-tall.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width:8px;
    height:30px;
    /*background-color: green;*/
}
.bubble-in-content {
    border-left:4px solid #fc3030;
    margin-right:60px;
    margin-left:8px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.bubble-out {
    margin-top:10px;
    animation: slideinfromright 1s;
}
.bubble-out-triangle {
    float:right;
    background-image: url('bubble-blue-tall.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width:8px;
    height:30px;
    /*background-color: green;*/
}
.bubble-out-content {
    border-right:4px solid #30c6fc;
    margin-right:8px;
    margin-left:60px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.badge {
    margin-left:10px;
}
.panel-footer {
    /*position:relative;*/
    border:0;
    padding:0;
    border-radius: 0;
    background-color: #fff;
    width:100%;
}
.col-compose {
    width:100%;
    padding-left:10px;
}
.compose-box {
    width:100%;
    border:none;
    outline:none;
    height:60px;
    /*float:left;*/
    /*margin-left:16px;*/
    font-size:16px;
    /*margin-right:10px;*/
}
.graycircle {
    /*float:left;*/
    background-color: #aaa;
    border-radius:40px;
    height:40px;
    width:40px;
}
.plussign {
    margin-left:8px;
    font-size:40px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color:#4c4c4c;
}
.smiley {
    margin-left:16px;
}
.microphone {
    margin-left:10px;
    margin-right:16px;
    text-align: center;
    line-height: 38px;
}

.jimmyjohn-sidebanner {
    background-image: url("jimmyjohn-face.png");
    background-repeat: no-repeat;
    background-size: cover;
    width:80px;
    height:160px;
    /*height: 100%;*/
    float:left;
}

.popper {
    animation: slideup 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slideup {
    0% {
        transform: translate(0px,100px);
        opacity: 0.1;
    }
    100% {
        transform: translate(0px,0px);
        opacity: 1;
    }
}

@keyframes slideinfromleft {
    0% {
        transform: translate(-100px,0px);
        opacity: 0.1;
    }
    100% {
        transform: translate(0px,0px);
        opacity: 1;
    }
}

@keyframes slideinfromright {
    0% {
        transform: translate(100px,0px);
        opacity: 0.1;
    }
    100% {
        transform: translate(0px,0px);
        opacity: 1;
    }
}

@keyframes slidedown {
    0% {
        transform: translate(0px,-800px);
        opacity: 0.8;
    }
    100% {
        transform: translate(0px,0px);
        opacity: 1;
    }
}
@keyframes slidedown2 {
    0% {
        transform: translate(0px,-800px);
        opacity: 0.8;
    }
    100% {
        transform: translate(0px,0px);
        opacity: 1;
    }
}
.slideoutanim {
    animation: slideout 1s;
    animation-delay: 0.5s;
}
.slideoutanim2 {
    animation: slideout 1s;
    /*animation-delay: 1s;*/
}
@keyframes slideout {
    0% {
        transform: translate(0px,0px);
        opacity: 1;
    }
    99% {
        transform: translate(0px,-800px);
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}